<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
  <a href="{{ project.redirect }}">
    {%- else -%}
    <a href="{{ project.url | relative_url }}">
      {%- endif %}
      <div class="card hoverable">
        {%- if project.img %}
        {%- include figure.html
          path=project.img
          alt="project thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title text-lowercase">{{ project.title }}</h2>
          <p class="card-text">{{ project.description }}</p>
          <div class="row ml-1 mr-1 p-0">
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                {% if project.paper %}
                <object><a href="{{ project.paper }}" target="_blank"><i class="fas fa-scroll"></i></a></object>
                {% endif %}
                {% if project.slides %}
                <object><a href="{{ project.slides }}" target="_blank"><i class="fas fa-chalkboard"></i></a></object>
                {% endif %}
                {% if project.prototype %}
                <object><a href="{{ project.prototype }}" target="_blank"><i class="fas fa-link"></i></a></object>
                {% endif %}
                {% if project.github %}
                <object><a href="{{ project.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a></object>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </a>
</div>